@import "reset.css";

@cfg-margin:80px;
@mobile:750px;

@font-face {
    font-family: 'helvetica-thin';
    src: url('helvetica-neue-thin-webfont.eot');
    src: url('helvetica-neue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica-neue-thin-webfont.woff') format('woff'),
         url('helvetica-neue-thin-webfont.ttf') format('truetype'),
         url('helvetica-neue-thin-webfont.svg#helveticaneuethin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-bold';
    src: url('helvetica-neue-bold-webfont.eot');
    src: url('helvetica-neue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica-neue-bold-webfont.woff') format('woff'),
         url('helvetica-neue-bold-webfont.ttf') format('truetype'),
         url('helvetica-neue-bold-webfont.svg#-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
	font-family: "helvetica-thin", helvetica;
	font-size: 12px;
}

a,a:hover,a:active{
	color: white;
	text-decoration: none;
}

a.fix{
	color:gray;
}

.site-logo{
	top: 75px;
	left: 60px;
	color: white;
	font-family: "helvetica-bold";
	position: fixed;
	z-index: 700;
	display: block;
	text-align: center;
	border: 0;
	font-size: 30px;
}

// black theme
.btheme{
	a,a:hover,a:active{
		color:black;
	}
	a.fix{
	color:gray;
	}
	&.diary-nav{
		div.diary-arrow{
			&.arrow-up{
				background: url("../img/up-b.png") 184px 31px no-repeat;
			}
			&.arrow-down{
				background: url("../img/down-b.png") 184px 0 no-repeat;
			}
		}
		div.diary-content{
			background: url("../img/line-b.png") 191px 0 repeat-y;
			ul li{
				background: url("../img/point-b.png") 188px 0 no-repeat;
			}
		}
	}
}

//nav
nav{

	position: fixed;
	top: 75px;
	left: 60px;
	z-index: 500;

	.nav-list{
		margin: 86px auto auto 0;
		li{
			margin: 12px 0 0 0;
			letter-spacing: 1px;
			
			&.bio-item{
 				margin-top: 55px;
 				font-size: 10px;
 			}
 			&.contact-item{
				font-size: 10px;
				margin-top: 9px;
 			}
		}
	}

	ul.nav-list-2{

		display: block;
		position: 10px 0 0 20px;
		list-style-type: none;
		z-index: 600;
		padding: 11px 0 0 0;

 		li{
 			margin: 0;
 			padding: 0;
 			height: 16px;
 			width: 300px;
			overflow: hidden;
			text-align:left;

 			a{
 				display: block;
				padding: 2px 0 2px 29px;
				line-height: 12px;
				text-decoration: none;
				font-size: 12px;
 			}


 		}
	}
}

section.full-page{
	width: 100%;
	img{
		width: 100%;
		margin-bottom: @cfg-margin;
	}
	img:last-of-type{
		margin-bottom:0;
	}
}

#slides{
	display: none;
	width: 100%;
}

.diary-nav{
	width: 200px;
	height: 280px;
	position: fixed;
	top: 130px;
	right: 60px;

	div.diary-arrow{
		width: 100%;
		height: 38px;
		cursor: pointer;
		&.arrow-up{
			background: url("../img/up.png") 184px 31px no-repeat;
		}
		&.arrow-down{
			background: url("../img/down.png") 184px 0 no-repeat;
		}
	}

	div.diary-content{
		width: 100%;
		height: 194px;
		overflow: hidden;
		background: url("../img/line.png") 191px 0 repeat-y;
		margin: 8px 0 8px 0;
		ul{
			list-style-type: none;
			li{
				background: url("../img/point.png") 188px 0 no-repeat;
				text-align: right;
				padding-right: 20px;
				height: 30px;
				a{
					opacity: 0;
					line-height: 14px;
				}
			}
		}
	}

}

.mobile-only{
	display: none;
}

@media (max-width: @mobile){
	.mobile-only{
		display: block;
	}
	.desktop-only{
		display: none;
	}
	a,a:hover,a:active{
		color: black;
		text-decoration: none;
	}
	.site-logo{
		text-align: left;
		position: relative;
		display: block;
		float: left;
		z-index: 700;
		left: 0;
		top: 0;
		color: black;
		width: 100px;
		margin: 20px auto 20px 20px;
		font-size: 25px;
	}
	section.full-page{
		position: relative;
		z-index: 0;
		width: 100%;
        margin: 0 auto;
		img{
			width: 100%;
			margin-bottom: 20px;
		}
	}
	#slides{
		z-index: 0;
		float: left;
		position: relative;
	}
	.site-nav{
		float: left;
		position: relative;
		display: block;
		color: black;
		z-index:0;
		top: 0;
		left: 0;
		.nav-list{
			margin: 25px auto auto 20px;
		}
		li{
			&.bio-item,
			&.contact-item{
				display: none;
			}
		}
	}
	.foot-nav{
		top: 0;
		left: 0;
		float: left;
		position: relative;
		display: block;
		width: 100%;
		color: white;
		background-color: black;
		height: 70px;
		list-style: none;
		margin-top: 20px;
		li{
			margin: 12px 0 0 20px;
			letter-spacing: 1px;
			
			&.bio-item{
 				margin-top: 21px;
 				font-size: 10px;
 				a{
 					color: white;
 				}
 			}
 			&.contact-item{
				font-size: 10px;
				margin-top: 9px;
				a{
 					color: white;
 				}
 			}
		}
	}
}
