@import "reset.css";

@cfg-margin:80px;

@font-face {
    font-family: 'helvetica-thin';
    src: url('helvetica-neue-thin-webfont.eot');
    src: url('helvetica-neue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica-neue-thin-webfont.woff') format('woff'),
         url('helvetica-neue-thin-webfont.ttf') format('truetype'),
         url('helvetica-neue-thin-webfont.svg#helveticaneuethin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-bold';
    src: url('helvetica-neue-bold-webfont.eot');
    src: url('helvetica-neue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica-neue-bold-webfont.woff') format('woff'),
         url('helvetica-neue-bold-webfont.ttf') format('truetype'),
         url('helvetica-neue-bold-webfont.svg#-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
	font-family: "helvetica-thin", helvetica;
	font-size: 12px;
	background-color: black;
}

a,a:hover,a:active{
	color: white;
	text-decoration: none;
}

.site-logo{
	top: 75px;
	left: 60px;
	color: white;
	font-family: "helvetica-bold";
	position: fixed;
	z-index: 700;
	display: block;
	text-align: center;
	border: 0;
	font-size: 30px;
}

//nav
nav{

	position: fixed;
	top: 75px;
	left: 60px;

	.nav-list{
		margin: 86px auto auto 0;
		li{
			margin: 12px 0 0 0;
			letter-spacing: 1px;
			
			&.bio-item{
 				margin-top: 55px;
 				font-size: 10px;
 			}
 			&.contact-item{
				font-size: 10px;
				margin-top: 9px;
 			}
		}
	}

	ul.nav-list-2{

		display: none;
		position: 10px 0 0 20px;
		list-style-type: none;
		z-index: 600;
		padding: 6px;

 		li{
 			margin: 0 0 0 9px;

 			a{
 				display: block;
				padding: 4px 0 4px 20px;
				line-height: 20px;
				text-decoration: none;
				font-size: 12px;
				text-shadow: 0 0 0 rgba(0, 0, 0, .6);
 			}

 			height: 17px;
 			width: 200px;
			overflow: hidden;
			padding: 0;
			text-align:left;
 		}
	}
}

section.full-page{
	width: 100%;
	img{
		width: 100%;
		margin-bottom: @cfg-margin;
	}
}

.diary-nav{
	width: 200px;
	height: 400px;
	position: fixed;
	top: 130px;
	right: 60px;

	div.diary-arrow{
		width: 100%;
		height: 38px;
		cursor: pointer;
		&.arrow-up{
			background: url("../img/up.png") 184px 31px no-repeat;
		}
		&.arrow-down{
			background: url("../img/down.png") 184px 0 no-repeat;
		}
	}

	div.diary-content{
		width: 100%;
		height: 198px;
		overflow: hidden;
		background: url("../img/line.png") 191px 0 repeat-y;
		margin: 4px 0 4px 0;
		ul{
			list-style-type: none;
			li{
				background: url("../img/point.png") 188px 0 no-repeat;
				text-align: right;
				padding-right: 20px;
				height: 30px;
				a{
					line-height: 14px;
				}
			}
		}
	}

}